<template>
    <div class="v-catalog"></div>
    <h1>Catalog</h1>
    <div class="v-catalog__list">
      <v-catalog-item 
      v-for="product in products" 
      :key="product.article"
      v-bind:product_data="product"
      @sendArticle="showConsoleArticleChild"
      /> 
    </div>
</template>

<script>
  import vCatalogItem from './v-catalog-item.vue'
  export default {
    name: 'v-catalog',
    components: {
      vCatalogItem
    },
    props: {},
    data() {
      return {
        products: [
          {
            name: "T-shirt 1",
            price: 100,
            article: "T1",
            available: true
          },
          {
            name: "T-shirt 2",
            price: 700,
            article: "T1",
            available: true
          },
          {
            name: "T-shirt 3",
            price: 200,
            article: "T2",
            available: true
          },
          {
            name: "T-shirt 4",
            price: 10,
            article: "T3",
            available: true
          },
          {
            name: "T-shirt 1",
            price: 100,
            article: "T1",
            available: true
          },
          {
            name: "T-shirt 2",
            price: 700,
            article: "T1",
            available: true
          },
          {
            name: "T-shirt 3",
            price: 200,
            article: "T2",
            available: true
          },
          {
            name: "T-shirt 4",
            price: 10,
            article: "T3",
            available: true
          }
        ]
      }
    },
    methods: {
      showConsoleArticleChild(data) {
        console.log(data);
      }
    }    
  }
</script>

<style lang="scss">
  .v-catalog {
    &__list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      align-items: center;
    }
  }
</style>