<template>
    <div class="v-catalog-item">
      <img class="v-catalog-item__img" src="#" alt="img">
      <p class="v-catalog-item__name">{{product_data.name}}</p>
      <p class="v-catalog-item__price">Price: {{product_data.price}}</p>
      <button @click="sendDataToParents">Add to cart</button>
    </div>
</template>

<script>
  export default {
    name: 'v-catalog-item',
    props: {
      product_data: {
        type: Object,
        default() {
          return {}
        }
      }
    },
    methods: {
      sendDataToParents() {
        this.$emit('sendArticle', this.product_data.article);
      }
    }
    
  }
</script>

<style lang='scss'>
  .v-catalog-item {
    flex-basis: 25%;
    box-shadow: 0 0 8px 0 #e0e0ee;
    padding: $padding*2;
    margin-bottom: $margin*2;
  }
</style>